<!doctype html>
<html class="no-js" lang="">
    {% extends "master.html" %}

    {% block title %}
    Details about {{mymember.firstname}} {{mymember.lastname}}
    {% endblock %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Untitled</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        {% block content %}
        <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
        <p>Phone: {{ mymember.phone }}</p>
        <p>Member since: {{ mymember.joined_date }}</p>
        <p>Back to <a href="/members">Members</a></p>
        {% endblock %}
    </body>
</html>
